<html>
    <head>
        <title>Scheduling App</title>
         <!-- Link to css file-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/css-layouts.css')}}">
    <!-- Bootsrtap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    </head>

     <body>

         
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Calendar</a>
      </div>
      <ul class="nav navbar-nav">
        <li> <a href="/"> Home </a></li>
			{% if current_user.is_authenticated %}
				<li> <a href="{{ url_for('meetings') }}"> Meetings </a></li>
				<li> <a href="{{ url_for('settings') }}"> Settings </a></li>
				<li> <a href="{{ url_for('logout') }}"> Logout </a></li>
			{% else %}
				<li> <a href="{{ url_for('login') }}"> Login </a></li>
				<li> <a href="{{ url_for('register') }}"> Register </a></li>
				<li> <a href="/guest"> Guest </a></li>
			{% endif %}
      </ul>
    </div>
  </nav>

 
        {% block content %} {% endblock %}
    </body>
</html>