{% extends "base.html" %}
{% block content %}

    <div align='center'>
        <h1>See and schedule an appointment</h1>
       
            <title>Search Results for appointments</title>
            {{ table }}
    
            <!-- <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </p> -->
    </div>


{% endblock %}