{% extends "base.html" %}
{% block content %}
<body>
<main>
    <div class="hero">
    <div align='center'>
        <h1>See and schedule an appointment!</h1>
        <style>
            table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
            }
            @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
                h1 {
                    position: relative;
                    font-size: 40px;
                    font-family: 'Source Code Pro', monospace;
                    top: -100px;
                }
                h1 {
                    animation: animated-text 4s steps(29,end) 1s 1 normal both,
                    animated-cursor 600ms steps(29,end) infinite;
                    border-right: solid 3px black;
                    white-space: nowrap;
                    overflow: hidden;
                    color: black;
                    margin: 0 auto;
                    }
                @keyframes animated-text{
                    from{width: 0;}
                    to{width: 770px;}
                    }

                /* cursor animations */

                @keyframes animated-cursor{
                    from{border-right-color: black;}
                    to{border-right-color: transparent;}
                    }
                td {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 20px;
                }
                th {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 20px;
                    text-align: center;
                }
                table {
                    text-align: center;
                    position: relative;
                    right: 00px;
                    top: 0px;
                }
                td {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 20px;
			}
			th {
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
				font-size: 20px;
				text-align: center;
			}
                .hero {
                    padding: 22em 6em;
                    background-color: orange;
                    position: relative;
                    top: -213px;
                }
        </style>
       
            <title>Search Results for appointments</title>
            {{ table }}
    
            <!-- <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </p> -->
    </div>
    </div>
</body>
</main>
{% endblock %}