{% extends "base.html" %}
{% block content %}
<body>
  
    <div align = "center"> 
        <style>
            @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
            h1 {
                position: relative;
                font-size: 40px;
                font-family: 'Source Code Pro', monospace;
                top: 50px;
            }
            form {
                position: relative;
                top: 100px;
            }
            p {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: medium;
            }
        </style>  
        <h1> Sign In</h1>
    
        <form action="/login" method="POST" novalidate>
            {{ form.hidden_tag() }}

            <p>
                {{ form.username.label }}        
                {{ form.username(size = 32) }}

                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endif %}   
            </p>

            <p>
                {{ form.password.label() }}
                {{ form.password(size = 32) }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endif %}
            </p>

            <p>
                {{ form.remember_me() }}
                {{ form.remember_me.label }}
            </p>
        
            <p> {{ form.submit() }}</p>
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </p>
        </form>
    </div>
</body>  
{% endblock %}