{% extends "base.html" %}
{% block content %}
<main>
   <div class="hero">
    <div align = "center">  
        <h1> Nice! You have Successfully Signed In.</h1>
	</div>

	<h2> Your Scheduled Appointments: </h2>

	<style>
		table, th, td {
  			border: 1px solid black;
			  border-collapse: collapse;
		}
		@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
            h1 {
                position: relative;
                font-size: 40px;
                font-family: 'Source Code Pro', monospace;
                top: -170px;
			}
			h1 {
                    animation: animated-text 4s steps(29,end) 1s 1 normal both,
                    animated-cursor 600ms steps(29,end) infinite;
                    border-right: solid 3px black;
                    white-space: nowrap;
                    overflow: hidden;
                    color: black;
                    margin: 0 auto;
                    }
                @keyframes animated-text{
                    from{width: 0;}
                    to{width: 910px;}
                    }

                /* cursor animations */

                @keyframes animated-cursor{
                    from{border-right-color: black;}
                    to{border-right-color: transparent;}
                    }
			h2 {
				position: relative;
				font-size: 25px;
				font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
				right: 00px;
				top: -100px;
				text-align: center;
			}
            form {
                position: relative;
                top: 100px;
            }
            td {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 20px;
			}
			th {
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
				font-size: 20px;
				text-align: center;
			}
			table {
				text-align: center;
				position: relative;
				right: -135px;
				top: 0px;
			}
			.hero {
                    padding: 22em 6em;
                    background-color: lime;
                    position: relative;
                    top: -213px;
                }
	</style>
	<table style='width: 80%'>
		<tr>
			<th> Date </th>
			<th> Booking </th>
			<th> Guest Name(s) </th>
			<th> Description </th>
		</tr>

		<tr>
			<td> Sample Date </td>
			<td> Sample Booking </td>
			<td> Sample Name </td>
			<td> Sample Description </td>
		</tr>

		<tr>
			<td> 5/9/2020 </td>
			<td> 9:00 - 9:30 AM </td>
			<td> Carlos Rojas </td>
			<td> Career Fair </td>
		</tr>

		<tr>
			<td> 5/10/2020 </td>
			<td> 2:00 - 3:00 PM </td>
			<td> Mary Papazian </td>
			<td> Office Hours </td>
		</tr>
	</table>
</div>
</main> 
{% endblock %}