{% extends "base.html" %}
{% block content %}
<body>
   
    <div align = "center">  
        <h1> You have successfully Signed In</h1>
	</div>

	<h2> Scheduled Appointments: </h2>

	<style>
		table, th, td {
  			border: 1px solid black;
  			border-collapse: collapse;
		}
	</style>
	<table style='width: 100%'>
		<tr>
			<th> Date </th>
			<th> Time </th>
			<th> Guest Name </th>
			<th> Description </th>
		</tr>

		<tr>
			<td> Sample Date </td>
			<td> Sample Time </td>
			<td> John Doe </td>
			<td> Class Registration </td>
		</tr>

		<tr>
			<td> 5/2/2020 </td>
			<td> 9:15 - 9:30 AM </td>
			<td> Barry Allen </td>
			<td> Career Fair</td>
		</tr>

		<tr>
			<td> 5/3/2020 </td>
			<td> 11:00 - 12:00 PM </td>
			<td> Oliver Queen </td>
			<td> Office Hours </td>
		</tr>
	</table>
</body> 
{% endblock %}