{% extends "base.html" %}
{% block content %}
 <main>
    <div id="bg">
        <div id="magic-container">
            <div id="blur-bg"></div>
    <div class = "register", id = "text" align = "center">  
        <style>
            @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
            h1 {
                position: relative;
                font-size: 40px;
                font-family: 'Source Code Pro', monospace;
                top: 0px;
            }
            h1 {
                    animation: animated-text 4s steps(29,end) 1s 1 normal both,
                    animated-cursor 600ms steps(29,end) infinite;
                    border-right: solid 3px black;
                    white-space: nowrap;
                    overflow: hidden;
                    color: black;
                    margin: 0 auto;
                    }
                @keyframes animated-text{
                    from{width: 0;}
                    to{width: 420px;}
                    }

                /* cursor animations */

                @keyframes animated-cursor{
                    from{border-right-color: black;}
                    to{border-right-color: transparent;}
                    }
            form {
                position: relative;
                top: 30px;
            }
            p {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: medium;
            }

#bg {
	/*background: url(static/css/login.png);*/
    background-image: url(static/css/Register.jpg);
	/*width: 100%;
	height: 100%;
  background-repeat: no-repeat;
  /*background-size: 1080px auto;
  background-size: contain;*/
  padding: 22em 6em;
  position: relative;
  top: -215px;
}

/*#bg {
  /*background-position: center top;*/
  /*padding: 70px 90px 120px 90px;
}*/

#magic-container {
  position: relative;
  top: -150px;
  width: 500px;
  right: -350px;
}

#blur-bg {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(10px);
  background-image: url(static/css/Register.jpg);

}

#text {
  /* Put this on top of the blurred layer */
  position: relative;
  z-index: 100;
  padding: 30px;
  background: transparent;
}

@media (max-width: 600px ) {
  	#bg { 
	  	padding: 10px; 
	}
  	#blur-bg { 
	  	background-position: center -10px; 
	}
}
            
        </style>
        <h1> Create an Account </h1>
        <form action="/register" method="POST" novalidate>
            {{ form.hidden_tag() }}

            <p>
                {{ form.username.label }}        
                {{ form.username(size = 32) }}   
            </p>

            <p>
                {{ form.email.label }}        
                {{ form.email(size = 32) }}   
            </p>

            <p>
                {{ form.password.label() }}
                {{ form.password(size = 32) }}
            </p>

            <p>
                {{ form.confirm_password.label()}}
                {{ form.confirm_password(size = 32) }}
            </p>
        
            <p> {{ form.submit() }}</p>
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </p>
        </form>
    </div>
    </div>
</div>
 </main>
{% endblock %}