@charset "UTF-8";
/* CSS Document */

/* html,
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
} */
h1 {
	color: black;
	text-transform: uppercase;
	font-size: 5em;
	letter-spacing: 0.25em;
	text-align: center
}
header {
	width: 100%;
	top: 0px;
	padding: 0.5em;
	position: fixed;
}
.site-nav {
	position: relative;
	float: right;
	z-index: 400;
	top: 0;
	left: 0;
	display: block !important;
	padding: 0.75em 1em 0 0;
	opacity: 0.95;
	background: none;
}
.site-nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
}
.site-nav ul li {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 1.5em;
}
.site-nav ul li a {
	font-size: .85em;
	padding-bottom: .5em;
	text-decoration: none;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: black;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.site nav ul li a:hover {
	outline: none;
	border-bottom: 1px solid red;
}
.hero-content {
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	color:black;
	z-index: 20000;
	/*padding-bottom: 8em;*/
	text-align: center;
}
header {
	width: 100%;
	top: 0px;
	padding: 0.5em;
	position: fixed;
}
