{% extends "base.html" %}

{% block content %}
<div class = 'userPage'>
    <title>{{username}}</title>
    <h1>Welcome to {{username}}'s page!</h1>



<p id = "demo"></p>
<script type="text/javascript">
    function display_ct() {
            document.getElementById('ct').innerHTML = new Date().toString();
            setTimeout('display_ct()',1000);
         }
</script>
<body onload=display_ct();>
<span id='ct' ></span>


{!-- the schedule goes here! --}



{% if (current_user.is_authenticated) and (current_user.username == username) %}

    {% for post in posts %}
    <div>
        <p>{{ post.schedule }}
            <b>{{ post.date }}</b>
            <b>{{ post.time }}</b>
            <b>{{ post.description }}</b>
            <b>{{ post.whom }}</b>
        </p>
    </div>

    {% endfor %}

{% endif /%}

{% if (not current_user.is_authenticated) or (current_user.username != username)%}

    <form action ="/action_page.php" >
        <label for = "meeting"> Enter a date to meet<label>
            <input type = "date" id = "meeting" name = "meeting">
            <input type = "submit" value = "Submit"> 
    </form>
{% endif /%}






{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for msg in messages %}
        <li> {{msg}} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}