{% extends "base.html" %}

{% block content %}
<h1>Welcome Guests</h1>
<table border="0" cellpadding="0" cellspacing="0" class="month">
    <tr><th colspan="7" class="month">May 2020</th></tr>
    <tr><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th></tr>
    <tr><td class="noday">&nbsp;</td><td class="fri">1</td><td class="sat">2</td><td class="sun">3</td><td class="mon">4</td><td class="tue">5</td><td class="wed">6</td></tr>
    <tr><td class="thu">7</td><td class="fri">8</td><td class="sat">9</td><td class="sun">10</td><td class="mon">11</td><td class="tue">12</td><td class="wed">13</td></tr>
    <tr><td class="thu">14</td><td class="fri">15</td><td class="sat">16</td><td class="sun">17</td><td class="mon">18</td><td class="tue">19</td><td class="wed">20</td></tr>
    <tr><td class="thu">21</td><td class="fri">22</td><td class="sat">23</td><td class="sun">24</td><td class="mon">25</td><td class="tue">26</td><td class="wed">27</td></tr>
    <tr><td class="thu">28</td><td class="fri">29</td><td class="sat">30</td><td class="sun">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
    </table>
{% endblock %}
