{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/css-layouts.css')}}">
    <meta charset="UTF-8">
</head>
<body>
	<header>
		</a>
		<nav class="site-nav">
			<ul>
                <style>
                    a:hover {background: slategrey;}
                </style>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Create Account</a></li>
			</ul>
		</nav>
    </header>
</body>
<main>
    <section class="hero">
        <div class="hero-content">
            <style>
                h1 {position: relative; top: 200px;}
            </style>
            <h1>Welcome to the Scheduling App</h1>
        </div>
    </section>
</main>
{% endblock %}

