{% extends "base.html" %}

{% block content %}
<div align = 'center'>
<h1>Create an Account</h1>
<form action="/login" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32)}}
    </p>

    <p>
        {{ form.email.label }} <br>
        {{ form.email(size=32)}}
    </p>


    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32)}}
    </p>

    <p>
        {{ form.password2.label }} <br>
        {{ form.password2(size=32)}}
    </p>
    <p>{{ form.submit() }} </p>

</form>
</div>
{% endblock %}