{% extends "base.html" %}
{% block content %}
    <div align = "center">
        <h1>Settings</h1>
        <form action="/logout" method="post" novalidate>
            {{form.hidden_tag() }}
            <p>
                {{ form.emailConfirmation() }}
                {{ form.emailConfirmation.label }}
            </p>

            <p>
                {{ form.submit() }}
            </p>

            <p>
                {{ form.meetingLength.label() }}
                {{ form.meetingLength(size = 32) }}
            </p>

        </form>
    </div>
{% endblock %}